.currency-app{
    background: url(/sfsites/c/resource/currencyConverterAssets/currencyConverterAssets/currencyAppBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.custom-icons{
    --slds-c-icon-color-foreground-default:#f9ba49;
    --slds-c-icon-color-background:#f9ba49;
    --slds-c-icon-color-foreground:#0b2451;
    transform: rotate(45deg);
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;

}

.custom-card{
    max-width: 520px;
    background: #0b2451;
    border-radius: 25px;
    min-width: 370px;
    padding: 16px;
}

.custom-button, .custom-button:hover, .custom-button:active {
    background: #f9ba49;
    color: #0c2451;
    padding: 12px;
    font-size: 24px;
    margin-top: 12px;
}

.baseline{
    align-items: baseline;
}

img{
    display: block;
    margin: auto;
}

.result{
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: #1b96ff;
}

.result-to{
    color: #fb8500;
}